mixin withAttribute({ name, description })
  li
    strong #{name}
    span : #{description}

mixin withToken({ name, object })
  details(id=name, name=name)
    summary #{object.name}
    p #{object.description}
    ul
      each attribute in object.attributes
        +withAttribute(attribute)

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Hubi Site of Ubiquitous Language
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="hubi.js")
    link(rel="stylesheet" href="hubi.css")
  body
    each token in tokens
      +withToken(token)
