mixin withDeprecation (type, { message, error })
  - var classes = error ? `${type}__deprecation-note__icon ${type}__deprecation-note__icon--error` : `${type}__deprecation-note__icon`
  span(class=`${type}__deprecation-note`)
    span(class=classes) ⚠
    span #{message}

mixin withAttribute({ name, description, deprecated, default: standard })
  li(class="attribute")
    strong(class="attribute__name") #{name}
    if (standard !== undefined)
      span(class="attribute__default") (#{standard})
    span(class="attribute__description") : #{description}
    if (deprecated !== undefined)
      +withDeprecation("attribute", deprecated)

mixin withTokenDeprecation({ message, error })
  - var classes = error ? "token__deprecation-note__icon token__deprecation-note__icon--error" : "token__deprecation-note__icon"
  span(class="token__deprecation-note")
    span(class=classes) ⚠
    span #{message}

mixin withToken({ name, object })
  details(id=name, name=name, class="token")
    summary(class="token__title")
      span(class="token__name") #{object.rawName}
      if (object.deprecated)
        +withDeprecation("token", object.deprecated)

    p(class="token__description") #{object.description}
    ul(class="token__attributes")
      each attribute in object.attributes
        +withAttribute(attribute)

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Hubi Site of Ubiquitous Language
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="hubi.js")
    link(rel="stylesheet" href="hubi.css")
  body
    include hubi.pug
    each token in tokens
      +withToken(token)
