mixin withDeprecation (type, { message, error })
  - var classes = error ? `${type}__deprecation-note__icon ${type}__deprecation-note__icon--error` : `${type}__deprecation-note__icon`
  span(class=`${type}__deprecation-note`)
    span(class=classes) ⚠
    span #{message}

mixin withAttribute(attribute)
  li(class="attribute")
    strong(class="attribute__name") #{attribute.name}

    if (attribute.default !== undefined)
      span(class="attribute__default") (#{attribute.default})

    span(class="attribute__description") : #{attribute.description}

    if (attribute.comment !== undefined)
      span(class="attribute__comment") #{attribute.comment}

    if (attribute.deprecated !== undefined)
      +withDeprecation("attribute", attribute.deprecated)

mixin withTokenDeprecation({ message, error })
  - var classes = error ? "token__deprecation-note__icon token__deprecation-note__icon--error" : "token__deprecation-note__icon"
  span(class="token__deprecation-note")
    span(class=classes) ⚠
    span #{message}

mixin withAliases(aliases, rawAliases)
  if (aliases)
    small(class="token__aliases")
      | (A.K.A&nbsp;
      each alias, index in aliases
        span(name=alias) #{rawAliases[index]}
        if (index !== aliases.length - 1)
          | ,&nbsp;
      | )

mixin withToken({ name, object })
  details(id=name, name=name, class="token")
    summary(class="token__title")
      span(class="token__name") #{object.rawName}

      +withAliases(object.aliases, object.rawAliases)

      if (object.deprecated)
        +withDeprecation("token", object.deprecated)

    p(class="token__description") #{object.description}

    if (object.comment)
      p(class="token__comment") #{object.comment}

    if (object.attributes.length)
      ul(class="token__attributes")
        each attribute in object.attributes
          +withAttribute(attribute)

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Hubi Site of Ubiquitous Language
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="hubi.js")
    link(rel="stylesheet" href="hubi.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.2/gh-fork-ribbon.min.css")

  body
    include hubi.pug
    each token in tokens
      +withToken(token)
