mixin withAttribute({ name, description })
  li(class="attribute")
    strong(class="attribute__name") #{name}
    span(class="attribute__description") : #{description}

mixin withToken({ name, object })
  details(id=name, name=name, class="token")
    summary(class="token__name") #{object.name}
    p(class="token__description") #{object.description}
    ul(class="token__attributes")
      each attribute in object.attributes
        +withAttribute(attribute)

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Hubi Site of Ubiquitous Language
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="hubi.js")
    link(rel="stylesheet" href="hubi.css")
  body
    include hubi.pug
    each token in tokens
      +withToken(token)
