mixin withAttribute({ name, description })
  li
    strong #{name}
    span : #{description}

mixin withToken({ name, object })
  details(id=name)
    summary #{object.name}
    p #{object.description}
    ul
      each attribute in object.attributes
        +withAttribute(attribute)

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Hubi Site of Ubiquitous Language
    link(rel="stylesheet" href="")
  body
    each token in tokens
      +withToken(token)
